## LEETCODE PROBLEM # 620

### Write a solution to report the movies with an odd-numbered ID and a description that is not "boring".

Return the result table ordered by rating in descending order.

The result format is in the following example.

In [2]:
import pandas as pd
import numpy as np

In [3]:
data = [[1, 'War', 'great 3D', 8.9], [2, 'Science', 'fiction', 8.5], [3, 'irish', 'boring', 6.2], [4, 'Ice song', 'Fantacy', 8.6], [5, 'House card', 'Interesting', 9.1]]
cinema = pd.DataFrame(data, columns=['id', 'movie', 'description', 'rating']).astype({'id':'Int64', 'movie':'object', 'description':'object', 'rating':'Float64'})

### Work Process

In [4]:
cinema

   id       movie  description  rating
0   1         War     great 3D     8.9
1   2     Science      fiction     8.5
2   3       irish       boring     6.2
3   4    Ice song      Fantacy     8.6
4   5  House card  Interesting     9.1

In [5]:
cinema['id']

0    1
1    2
2    3
3    4
4    5
Name: id, dtype: Int64

In [ ]:
list_of_id = [id for id in cinema['id'] if id % 2 != 0]

In [ ]:
cinema[(cinema['id'].isin(list_of_id)) & (cinema['description'] != 'boring')].sort_values('id', ascending=False)

   id       movie  description  rating
4   5  House card  Interesting     9.1
0   1         War     great 3D     8.9

### Final Function

In [ ]:
def not_boring_movies(cinema: pd.DataFrame) -> pd.DataFrame:
    return cinema[
        (cinema['id'] % 2 != 0) & (cinema['description'] != 'boring')
    ].sort_values('id', ascending=False)

In [15]:
not_boring_movies(cinema=cinema)

   id       movie  description  rating
4   5  House card  Interesting     9.1
0   1         War     great 3D     8.9