## LEETCODE PROBLEM #570
### Write a solution to find managers with at least five direct reports.

Return the result table in any order.

In [35]:
import pandas as pd 
import numpy as np

In [34]:
data = [[101, 'John', 'A', None], [102, 'Dan', 'A', 101], [103, 'James', 'A', 101], [104, 'Amy', 'A', 101], [105, 'Anne', 'A', 101], [106, 'Ron', 'B', 101]]
employee = pd.DataFrame(data, columns=['id', 'name', 'department', 'managerId']).astype({'id':'Int64', 'name':'object', 'department':'object', 'managerId':'Int64'})

In [36]:
employee

    id   name department  managerId
0  101   John          A       <NA>
1  102    Dan          A        101
2  103  James          A        101
3  104    Amy          A        101
4  105   Anne          A        101
5  106    Ron          B        101

In [40]:
val_dict = {}
for id in employee['managerId']:
    if id not in val_dict:
        val_dict[id] = 1
    else:
        val_dict[id] +=1

In [65]:
val_dict
val_dict = {k:v for k,v in val_dict.items() if v >= 5}

In [66]:
list(val_dict.keys())

[101]

In [ ]:
filtered_df = employee[employee['id'].isin(list(val_dict.keys()))]

In [63]:
filtered_df['name']

0    John
Name: name, dtype: object

In [72]:
def find_managers(employee: pd.DataFrame) -> pd.DataFrame:
    val_dict = {}
    for id in employee['managerId']:
        if id not in val_dict:
            val_dict[id] = 1
        else:
            val_dict[id] +=1
    val_dict = {k:v for k,v in val_dict.items() if v >= 5}
    return pd.DataFrame(employee[employee['id'].isin(list(val_dict.keys()))]['name'])

In [73]:
find_managers(employee=employee)

   name
0  John